/*******************************************

CODE BY CALNITE ON TOYHOUSE https://toyhou.se/CalsCode/
YOU HAVE READ AND AGREED TO MY TOU BY USING MY CODES

*******************************************/

/****************** BACKGROUND COLORS ********************/

$bg-color:          #ffffff     ;


/************** SIDEBAR BACKGROUND COLORS ****************/

$sidebar-bg:        #eeeeee     ;


/****** HEADER - FOOTER - BUTTONS BACKGROUND COLORS ******/

$accent-color:      #111111     ;


/********************* TEXT COLORS ***********************/

$font-color:        #6c757d     ;


/****************** LINK TEXT COLORS *********************/

$link-color:        #6c757d     ;


/********************* IMPORT LINK ***********************/

@import '0/7752/YxT2PJ/bw';


/**************** ADD YOUR OWN CSS BELOW *****************/
